<p style="text-align: center;"><strong>FAIR DATA STATION</strong></p>
<p style="text-align: center;"><em>Without metadata, data is meaningless</em></p>
<p style="text-align: center;">The &lsquo;FAIR Guiding Principles for scientific data management and stewardship&rsquo; is build upon the use of machine-actionability metadata to find, access, interoperate, combine, and directly reuse data with minimal human intervention.</p>
<p>To improve the quality of the reported data and to maximise the potential for reuse the set of metadata must be sufficient to allow for unambiguous interpretation of the associated data. For metadata management Minimum Information standards are used in the Life Sciences consisting of two parts. Firstly, for each assay and associated data type there is a community accepted checklist of reporting requirements. Secondly, an obligatory data format is used for reporting essential metadata to ensure machine-actionability.</p>
<p>The FAIR Data Station is a metadata ingestion platform that helps to improve the quality of metadata. The station allows users to record meta-data according to minimum information standards thereby ensuring FAIR scientific data management &nbsp;from the start.&nbsp;</p>
<p>The FAIR-DS guides researchers metadata management using a multi-step process.</p>
<ol>
    <li>Selection of appropriate metadata standards resulting in spreadsheet template generation</li>
    <li>Recording of metadata using the spreadsheet template</li>
    <li>Validation of metadata content according to template requirements</li>
    <li>Data FAIRification through generation of a FAIR machine actionable metadata resource</li>
</ol>
<p>The metadata schema is based on the ISA Standard which is a combination of the Just Enough Results Model (JERM) and the Minimum Information Abox§ut a Plant Phenotyping Experiment (MIAPPE).<br />
    For selection of metadata a package subsystem is used that is based on the <em>Minimum Information about any (x) Sequence (MIxS)</em> standard from the Genomic Standards Consortium.<br /><br />
    <b>For more information see: <a href="https://docs.m-unlock.nl" target="_blank" rel="noopener noreferrer" style="color: #00008B">https://docs.m-unlock.nl</a></b><br /><br />

    Cite:<br />
    Bart Nijsse, Peter J Schaap, Jasper J Koehorst, FAIR data station for lightweight metadata management and validation of omics studies, <em>GigaScience</em>, Volume 12, 2023, giad014, <a href="https://doi.org/10.1093/gigascience/giad014" target="_blank" rel="noopener noreferrer" style="color: #00008B">https://doi.org/10.1093/gigascience/giad014</a>

    <br /><br />
</p>

<!--<p style="text-align:center;"><img src="images/frontpage.png" width="50%" class="center"></p>-->