<br>
<div class="footer">
    <p> © 2023 UNLOCK (<a href="http://download.systemsbiology.nl/unlock/" target="_blank" rel="noopener noreferrer">Download</a> / <a href="http://gitlab.com/m-unlock/fairds" target="_blank" rel="noopener noreferrer">Source code</a> / <a href="https://docs.fairbydesign.nl" target="_blank" rel="noopener noreferrer">Help</a>) - VERSION </p>
</div>