<h2>>TL;DR</h2>
<p>
    To quickly get started download the application from <a href="http://download.systemsbiology.nl/unlock/" style="color:#000000;">http://download.systemsbiology.nl/unlock/</a>.
    We keep previous version of the FAIR Data station but all are structured as fairds-version.
    It is best to always download the latest version.
</p>

<p>
    The application is written in java and to execute the program you need to have java runtime environment (JRE) version 17 or higher installed.
    To obtain java you can download a free open source version here <a href="https://adoptium.net/en-GB/" style="color:#000000;">https://adoptium.net/en-GB/</a>
</p>

<p>To start the program: java -jar fairds-VERSION.jar</p>

<p>When you see the following line, the application has started…</p>

<p>Tomcat started on port(s): 8083 (http) with context path ''</p>

<p>Now you can access the application using your browser at http://localhost:8083</p>

<p>Here you can generate your templates and validate your metadata!</p>