<div>
    <h2>Term</h2>

    <b>Label: </b>LABEL<br>
    <b>Requirement: </b>REQUIREMENT<br>
    <b>Definition: </b>DEFINITION<br>
    <b>Syntax: </b>SYNTAX<br>
    <b>Package Identifier: </b>PACKAGEID<br>
    <b>Package Name: </b>PACKAGENAME<br>
    <b>Units: </b>UNITS<br>
    <b>Example: </b>EXAMPLE<br>
    <b>URL: </b><a href="LINK" style="color:#000000;">LINK</a><br>
</div>